/*Selector de tipo*/
/*h1 {
    color: red;
    font-weight: 600;
}*/
/*selector de clase*/
.Titulo-2{
    color: blue;
    font-weight: 500;
}
/*Selector de identificacion*/
#Text-diseños{
    color: blueviolet;
    text-decoration: underline;
}
/*Selectores de agrupacion*/
h1,
.Titulo-2{
    background: red;
}
/*tamaño de fuente font-Size | Font-Weight | Font-Family*/
* {
    font-size: 20px;
}